@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    color: var(--font-color);
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 200px;
  
    --font-color: rgb(187, 187, 187);
}


h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    background-color: #101113;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: var(--spacing-1);
}

.portrait {
    width: 400px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.project-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

iframe {
    width: 100%;
    min-width: 440px;
    height: 440px;
    border-radius: 12px;
    margin: 20px;
}

footer {
    margin-top: auto;
    padding: 80px 0;
    text-align: center;
}

footer > span {
    color: #aa4e2a;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-3) 0;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-me-container {
    display: flex;
    flex-direction: row;
}

.about-me-text-container {
    text-align: start;
    margin-right: 80px;
}

#presentation {
    color: white;
    font-size: 36px;
    font-weight: 900;
}

.orange-text {
    color: #aa4e2a;
}

.icon {
    font-size: 2em;
    color: white;
    margin: var(--spacing-1) 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin: 5px;
}

#logo {
    margin: 0;
}

#logo h2 {
    color: white;
}
hr {
    border: 1px solid #aa4e2a;
}

.section-titles {
    color: white;
}

.section-titles hr {
    width: 170px;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills hr {
    margin-bottom: 40px;
}

#skills-container > * {
    font-size: 3em;
    width: 2em;
    margin: var(--spacing-1);
}


@media only screen and (max-width: 840px) {
    nav {
        flex-direction: column;
    }
    
    .about-me-container {
        flex-direction: column;
        margin-top: -40px;
    }
    .navigation-items {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .about-me-text-container {
        text-align: center;
        margin: 0 auto;
    }
    .portrait {
        margin: 20px auto;
        width: 250px;
    }
    iframe {
        margin: 0 auto;
    }
}